body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: yellow;
    font-family: cursive;
    text-align: center;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    width: 400px;
    margin: 0 5px;
}

h4 {
    text-align: right;
    color: green;
}

#input {
    font-size: 30px;
    width: 100%;
    box-sizing: border-box;
    border: 3px solid green;
    color: green;
    padding: 10px;
    outline: none;
    border-radius: 2px;
    text-align: center;
}

#input::placeholder {
    color: lightgray;
    font-family: cursive;
}

#submit {
    display: block;
    background-color: green;
    border: none;
    padding: 10px;
    color: white;
    font-size: 20px;
    width: 100%;
    margin: 20px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: filter .2s ease;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    font-family: inherit;
}

#submit:hover {
    filter: brightness(.9);
}